img {
	width: 100%;
	padding-bottom: 29px;
}
.jumbotron{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 35px;
	font-family: 'Poiret One', cursive;
	letter-spacing: 0.2em;
	background-color: #e6e6e6
}